<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect</title>
</head>
    <style>
        body{
            display: flex;
            min-height: 100vh;
            background: radial-gradient(ellipse at right bottom, rgba(171, 60, 175, 1), transparent),
            radial-gradient(ellipse at left top, rgba(229, 78, 126, 1), transparent);
            justify-content:center ;
            & h1{align-self: center;color: #fff;}
        }
    </style>
<body>
    <h1>Debes iniciar sesion!!</h1>
</body>
</html>