*{
    font-family: sans-serif;
}
body{
    display: grid;
    grid-template-rows: 100px 450px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        ". . form"
        ". serv ."
    ;
    min-height: 100vh;
    background: radial-gradient(ellipse at right bottom, rgba(171, 60, 175, 1), transparent),
    radial-gradient(ellipse at left top, rgba(229, 78, 126, 1), transparent);
}
#serv{
    grid-area: serv;
}
form{
    margin-left: 20px;
    grid-area: form;
    justify-self: end;
}
#bSignIn, a, #bEnter{
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#bSignIn{
    background: linear-gradient(to right, rgba(229, 78, 126, 1)  5%,  rgba(252, 174, 226, 0.438));
}
a{
    background: linear-gradient(to right, rgb(161, 78, 229)  5%,  rgba(252, 174, 226, 0.438));
}
#bEnter{
    background: linear-gradient(to right, rgb(201, 54, 101)  5%,  rgba(252, 174, 226, 0.438));
}
.div-popup{
    width: 210px;
    color: white;
    background: linear-gradient(to right, rgba(229, 78, 126, 1)  5%,  rgba(252, 174, 226, 0.438));
    border-radius: 30px;
    padding: 20px 15px;
    & #div-email, #div-password{
        padding-left: 10px;
    }
    & #bEnter{
        margin-bottom: -10px;
    }
    & #email{
        margin-left:30px;
    }
    & input{
        border-radius: 30px;
        border: none;
    }
}
.div-popup--mostrar{
    display: block;
}
.div-popup--ocultar{
    display: none;
}
footer{
    display: none;
}
/*Add services style*/
#serv{
    display: flex;
    flex-direction: column;
    align-self: center;
   & h1{
        align-self: center;
        text-align: center;
        font-family: serif;
        background: linear-gradient(to bottom, rgba(129, 46, 126, 0.463) 0%, rgba(91,0,29,0.4875) 100%);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 72px;
        font-weight: 400;
    }
   & #servicios{
        display: flex;
        flex-direction: column-reverse;
        align-self: center;
        min-width:300px;
        & span{
            margin-bottom: 10px;
            font-size: 1.3rem;
            padding: 5px;
            text-align: center;
        }
        & a{text-decoration: none;color: #fff;}
    }
}
.error{
    color: red;
}